 <!-- Favicon from https://twemoji.twitter.com -->
 <link rel="shortcut icon" type="image/x-icon" href="{{ "images/favicon.ico" | relative_url }}">
 <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | relative_url }}">
 <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon-32x32.png" | relative_url }}">
 <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon-16x16.png" | relative_url }}">
 <link rel="manifest" href="{{ "images/site.webmanifest" | relative_url }}">